{% extends 'base.html' %}
{% block title %} Edit a post  {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Edit post</h1>
        <br/>
        <div class="form-group">

            <form method = "POST">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p }}
                <button class="btn btn-secondary">Edit</button>
            </form>
        </div>
    {% else %}
        You're not powerful enough to do that >:)
    {% endif %}

{% else %}
    You're not powerful enough to do that >:) 

{% endif %}



{% endblock %}