{% extends 'base.html' %}
{% block title %} User Profile  {% endblock %}
{% load static %}
{% block content %}

<h1>User Profile</h1>

{{ page_user }}
<style>
    .card {
      margin: 0 auto;
      width: fit-content;
    }
    .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  </style>
 <div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">
      <div class="col-md-4">
    {% if  page_user.profile_pic.url %}
    <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="user profile picture" width="200" height="200">
    {% else %}
        <img src="{% static 'my_blog/images/default.jpg' %}" class="img-fluid rounded-start" alt="user profile picture" width="200" height="200">
    {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{ page_user.user.first_name }} {{ page_user.user.last_name }} </h5>
          <p class="card-text"><small class="text-body-secondary">
            {% if page_user.website_link %}
                <a href="{{ page_user.website_link }}">Website</a> |
            {% endif %}
            {% if page_user.github_link %}
                <a href="{{ page_user.github_link }}">GitHub</a> |
            {% endif %}
            {% if page_user.twitter_link %}
                <a href="{{ page_user.twitter_link }}">Twitter</a> |
            {% endif %}
            {% if page_user.instagram_link %}
                <a href="{{ page_user.instagram_link }}">Instagram</a> |
            {% endif %}
            {% if page_user.spotify_link %}
                <a href="{{ page_user.spotify_link }}">Spotify</a> |
            {% endif %}
            {% if page_user.soundcloud_link %}
                <a href="{{ page_user.soundcloud_link }}">SoundCloud</a> |
            {% endif %}
            {% if page_user.youtube_link %}
                <a href="{{ page_user.youtube_link }}">YouTube</a>
            {% endif %}


        {% if page_user.bio %}
            </small></p>
            <p class="card-text">{{ page_user.bio | truncatechars:140}}</p>
        {% else %}
        </small></p>
            <p class="card-text">This user haven't made a bio yet</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}